#body {
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#headers {
    width: 100%;
    text-align: center;
    display: block;
}
#h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

#topBread {
    width: 100%;
}

#topBreadImg {
    max-width: 100%;
}

label {
    font-size: 150%;
}

#bbqDiv, #ketchupDiv {
    max-width: 47%;
    text-align: center;
    display: inline-flex;
}

#bbq, #ketchup {
    max-width: 100%;
    padding: 1%;
}