body {
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#headers {
    width: 100%;
    text-align: center;
    display: block;
    font-family: 'syne';
}

#h1 {
    font-size: 200%;
    width: 95%;
}

h2 {
    font-size: 150%;
}

#chooseMeat, 
#headers, 
#classic, 
#goatsFake, 
#juggernaught, 
#kids,
#mix,
#email,
#wedges {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 1%;
    background: rgba(0, 0, 0, 0.5);  
    font-family: 'syne';
}

table, th, td {
    width: 95%;
    text-align: center;
}

th {
    font-family: 'syne';
}

#email {
    font-size: 150%;
}

a {
    text-decoration: none;
    color: yellow;
}